.user-message {
    // background-color: blue;
}

.bot-message {
    background-color: #F7F7F8;
}

.message-container {
    height: 85px;
    margin-left: 20px;
    text-align: center;
    line-height: 85px;
    align-items: flex-start;
    display: flex;
    // vertical-align: middle;
}